

body{
    background-color:rgb(16, 80, 16);
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}




h1{
    font-weight: bold;
    color: orange;
    
}

P{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#start-btn{
    background-color: rgb(16, 80, 16);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#start-btn:hover{
    background-color: white;
    color: rgb(16, 80, 16);
    transition: 0.5s;
}

#new-btn{
    background-color: rgb(16, 80, 16);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#new-btn:hover{
    background-color: white;
    color: rgb(16, 80, 16);
    transition: 0.5s;
}